<!--
File: app.component.html
Author: Tóth Júlia
Copyright: 2023,Tóth Júlia
Group: Szoft 2 N
Date: 2023-01-02
Github: https://github.com/haribomaci/
Licenc: GNU GPL
-->
<header class="bg-dark">
<h4 class="label text-dark bg-white text-center">Tóth Júlia, Szoft2/n, 2023-01-02</h4>
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link" routerLink="/adatok">Adatok</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/git">Git</a>
    </li>
  </ul>
</header>
<router-outlet></router-outlet>